@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Gilroy;
  letter-spacing: -0.05em;
}

::-webkit-scrollbar {
  display: none;
}


@font-face {
  font-family: 'bebas neue';
  src: url('/font/BebasNeue-Regular.ttf');
}
@font-face {
  font-family: Gilroy;
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-UltraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-Hairline.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-ExtLt.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-Thin.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-ExtBlk.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Helvetica now display';
  src: url('/font/HelveticaNowDisplay-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/font/NeueMachina-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Neue Machina'; 
  src: url('/font/NeueMachina-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/font/NeueMachina-Ultrabold.ttf'); 
  font-weight: 800;
}

.helvetica {
  font-family: Helvetica now display;
}
.bebas {
  font-family: bebas neue;
}
.neue {
  font-family: Neue Machina;
}

/* CUSTOM CSS */
.big-btn {
  position: relative;
  overflow: hidden;
}
.big-btn div span {
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 20;
}
.big-btn div::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  z-index: 10;
  width: 100%;
  background-color: black;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.big-btn:hover {
  scale: 1.06;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.big-btn {
  scale: 1;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.big-btn:hover div span {
  transform: translateY(-100%);
  z-index: 20;
  color: white;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.big-btn:hover div::after {
  z-index: 10;
  top: 0;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.opener-divs div {
  transition: all 0.3s ease-in-out;
}
.opener-divs:hover div {
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.button-info:hover::after {
  top: 0;
}

.button-info h1 {
  z-index: 20;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.button-info:hover h1 {
  color: white;
  z-index: 20;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.button-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.actual-collab {
  animation: anime 10s linear infinite;
}

.footer-div {
  animation: anime 10s linear infinite;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  direction: ltr;
  contain: layout style size;
  pointer-events: none;
  transition: opacity .3s, color .4s
}

.cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  mix-blend-mode: exclusion;
  width: 48px;
  height: 48px;
  transform: scale(.2);
  background: currentColor;
  border-radius: 50%;
  transition: transform .25s ease-in-out, opacity .1s
}

.cursorText {
  position: absolute;
  font-weight: 500;
  top: -18px;
  left: -18px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none;
  opacity: 1;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  z-index: 400;
}

.cursor.scale-up:before {
  transform: scale(2);
}